

</div>
 <script src="/js/jquery-3.4.1.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
 <script src="/fontawesome-free-5.12.1-web/js/all.min.js"></script>
 <%- include('users/signUp'); -%>  
 <%- include('users/login'); -%>  
</body>
</html>