<%- include('header'); -%>
    
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1><%= title %></h1>
                <p>Page</p>
            </div>
            <div class="col-2"></div>
        </div>
    


<%- include('footer'); -%>    
   